@media screen and (min-width: 768px) {

    nav ul {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .features {
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .logo-container img {
        margin: 0;
    }
}